<div class="404-error-block">
    {{> ErrorText class="404-error-text__element" errorCode="404" errorHeader="Oops!" errorText="Вы не туда попали. Страницы не существует:("}}
    {{> Link class="404-error-link__element" value="Назад к чатам" }}
</div>