<div class="error-block-404">
    {{> ErrorText class="error-text-404__element" errorCode="404" errorHeader="Oops!" errorText="Вы не туда попали. Страницы не существует:("}}
    {{> Link class="error-link-404__link" value="Назад к чатам" page="/chats" }}
</div>
