@import '../../../static/styles/colors.scss';
@import '../../../static/styles/fonts.scss';  

.profile-data {
    color: #{$color-dark-gray};
    align-items: center;

    &__title {
        display: inline-block;
    }

    &__value {
        display: inline-block;
        float: right;
    }
}