.error-code {
    background: linear-gradient(to right, #FE95E7 , #4C38C6);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font: 400 40px/40px;
}

.error-header {
    color: #BABABA;
    font: 500 32px/32px;
}

.error-text {
    color: #1E1E1E;
    font: 500 32px/32px;
}
