@import '../../../static/styles/colors.scss';
@import '../../../static/styles/fonts.scss';

.error-code {
    background: #{$vertical-gradient-dark};
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font: #{$font-error-code-large};
}

.error-header {
    color: #{$color-gray};
    font: #{$font-big};
}

.error-text {
    color: #{$color-light-black};
    font: #{$font-regular};
}