.login-form {
    background: #FBFBFB;
    margin: 10%;
    padding: 20px 0;

    &__header {
        padding-bottom: 10px;
        font: 500 20px/20px;
    }
  
    &__input {
      margin-top: 5px;
    }

    &__footer {
        margin-top: 40px;
        display: inline-grid;
    }

    &__link {
        margin-top: 10px;
        font: 400 12px/12px;
    }
}
