{{#> Dialog }}
    <form class="login-form">
        <div class="login-form__header">
            {{> DialogTitle title="Вход" }}
        </div>
        <div class="login-page__content">
            {{> InputField class="login-form__input" id="login_form_username" title="Логин" name="login" }}
            {{> InputField class="login-form__input" id="login_form_password" title="Пароль" name="password" type="password" }}
        </div>
        <div class="login-form__footer">
            {{> Button class="login-form__button" id="log_in_button" value="Авторизоваться" }}
            {{> Link class="login-form__link" id="sign_up_link" value="Нет аккаунта" }}
        </div>
    </form>
{{/ Dialog }}