.profile-page {
    width: 300px;
    background: #FBFBFB;
    margin: 0 auto;
    padding: 20px 0;

    &__header {
        padding-bottom: 10px;
    }

    &__username {
        width: fit-content;
        font: 500 20px/20px;
        display: block;
        margin: 15px auto;
    }
  
    &__input {
      margin-top: 16px;
    }

    &__footer {
        margin-top: 40px;
        display: inline-grid;
    }

    &__link {
        margin-top: 10px;
        font: 400 12px/12px;
    }
}
