@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

$font-error-code: "JejuMyeongjo";
$font-error-text: "Krona One", sans-serif;
$font-standart-text: "Inter", sans-serif;

$font-weight-regular: 500;
$font-weight-thin: 400;

$font-large: #{$font-weight-regular} 32px/32px #{$font-standart-text};
$font-big: #{$font-weight-regular} 20px/20px #{$font-standart-text};
$font-medium: #{$font-weight-regular} 16px/16px #{$font-standart-text};
$font-regular: #{$font-weight-regular} 12px/12px #{$font-standart-text};
$font-regular-thin: #{$font-weight-thin} 12px/12px #{$font-standart-text};

$font-error-code: #{$font-weight-thin} 40px/40px #{$font-error-code};
$font-error-text: #{$font-weight-regular} #{$font-large} #{$font-error-text};
