@import '../../../static/styles/colors.scss';


.user_avatar {
    border-radius: 50%;
    object-fit: cover;
    background: #{$color-light-pink};
    display: block;
    margin: auto;
    align-content: center;
}

.dialog-user {
    border-radius: 50%;
    object-fit: cover;
    background: #{$color-light-pink};
    margin: 5px;
}

