<div class="chat-page">
    <div class="chat-list">
        У вас нет чатов
    </div>
    <div class="actual-chat-window"></div>
    {{> Link class="chat-page__link" id="login-page_link" value="Назад к логину" }}
</div>
