<div class="500-error-block">
    {{> ErrorText class="500-error-text__element" errorCode="500" errorHeader="Oops!" errorText="Что-то пошло не так. Но мы уже фиксим!"}}
    {{> Link class="500-error-link__element" value="Назад к чатам" }}
</div>