@import '../../../static/styles/colors.scss';

.error-block-500 {
    background-color: #{$color-slightly-gray};
}

.error-text, .error-block-500 {
    height: 100vh;
    display: grid;
    position: relative;
    place-items: center;
    flex-direction: column;
}