<div class="error-block-500">
    {{> ErrorText class="error-text-500__element" errorCode="500" errorHeader="Oops!" errorText="Что-то пошло не так. Но мы уже фиксим!"}}
    {{> Link class="error-link-500__element" value="Назад к чатам" }}
</div>