@import '../../../static/styles/colors.scss';
@import '../../../static/styles/fonts.scss';  


.change-password {
    background: $color-slightly-gray;
    margin: 10%;
    padding: 20px 0;
    display: table;
    margin: 0 auto;

  
    &__input {
      margin-top: 16px;
    }

    &__footer {
      margin-top: 20px;
      width: fit-content;
    }

    &__ink {
      margin-top: 10px;
      font: #{$font-regular-thin};
    }
  }
