<section class="change-password__section">
    <form class="change-password">
        <div class="change-password-page__container">
            <div class="change-password-page__header">
                {{> Avatar avatar_url="" }}
            </div>
            <div class="profile-page__content">
                {{> InputField class="change-password-page__input" id="change-password-page_old_password" title="Старый пароль" name="old_password" type="password" }}
                {{> InputField class="change-password-page__input" id="change-password-page_new_password" title="Новый пароль" name="new_password" type="password" }}
                {{> InputField class="change-password-page__input" id="change-password-page_repeat_new_password" title="Подтвердите новый пароль" name="repeat_new_password" type="password" }}
            </div>
            <div class="profile-page__footer">
                {{> Button class="change-password-page__button" id="change_password_button" value="Сохранить" page="/profile" }}
                {{> Link class="profile-page__link" value="Назад к чатам" page="/chats" }}
            </div>
        </div>
    </form>
</section>
