.change-password {
    background: #FBFBFB;
    margin: 10%;
    padding: 20px 0;
    display: table;
    margin: 0 auto;

  
    &__input {
      margin-top: 5px;
    }

    &__footer {
      margin-top: 20px;
      width: min-content;
    }

    &__link {
      margin-top: 10px;
      font: 400 12px/12px;
    }

    &__content {
      width: min-content;
    }
}
